@media (max-aspect-ratio: 3/2){
    section{
        .portada_apollo{
            background-image: url(../img/portada_apollo_vertical.png);
            .texto_portada{
                margin-left: 47.5vw;
                h2{
                    font-size: 4.5vw;
                    margin-bottom: 15vh;
                }
                p{
                    font-size: 2vw;
                    padding-right: 12vw;
                    margin: 0;
                }
            }
        }
        .presentacion_apollo{
            height: 42vh;
        }
        .texto_presentacion_apollo{
            h2{
                font-size: 3.2vw;
            }
            p{
                font-size: 1.6vw;
            }
        }
        .text_prin_proy{
            .link_proy_apollo{
                h2{
                    margin-bottom: 4vh;
                }
            }
        }
        .scc_proy_sec{
            .img_sec_proy{
                h3{
                    font-size: 2.6vw;
                    line-height: 150%;
                }
            }
        }
        .clientes_apollo{
            height: 42vh;
            h2{
                font-size: 2vw;
            }
        }
        .pagina_proyecto_apollo{
            .texto_pagina_proyecto{
                .sidenav{
                    a{
                        font-size: 1.33vw;
                        i{
                            font-size: 2.6vw;
                        }
                    }
                }
                .open_sidenav{
                    i{
                        font-size: 2.4vw;
                    }
                }
                .texto_servicios{
                    margin: 3% auto;
                    font-size: 1.3vw;
                }
                h2{
                    font-size: 3.2vw;
                }
                p{
                    font-size: 1.2vw;
                }
            }
        }
    }
    footer{
        height: 13vh;
        .texto_foot{
            font-size: 0.8vw !important;
            p{
                margin-bottom: 0.4vh;
            }
            a{
                margin-bottom: 1vh !important;
            }
            i{
                margin-right: 1vw !important;
                font-size: 1.2vw !important;
            }
        }
    }
}

@media (max-aspect-ratio: 5/4){
    section{
        .portada_apollo{
            .texto_portada{
                margin-left: 50vw;
                h2{
                    font-size: 5vw;
                    margin-bottom: 17vh;
                }
                p{
                    font-size: 2.5vw;
                    padding-right: 10vw;
                }
            }
        }
        .presentacion_apollo{
            height: 36vh;
        }
        .texto_presentacion_apollo{
            h2{
                font-size: 3.6vw;
            }
            p{
                font-size: 1.8vw;
            }
        }
        .text_prin_proy{
            .link_proy_apollo{
                h2{
                    margin-bottom: 2vh;
                }
            }
        }
        .scc_proy_sec{
            .img_sec_proy{
                h3{
                    font-size: 3vw;
                    line-height: 150%;
                }
            }
        }
        .clientes_apollo{
            h2{
                font-size: 2.4vw;
            }
        }
        .pagina_proyecto_apollo{
            .texto_pagina_proyecto{
                .sidenav{
                    a{
                        font-size: 1.5vw;
                        i{
                            font-size: 2.8vw;
                        }
                    }
                }
                .open_sidenav{
                    i{
                        font-size: 2.6vw;
                    }
                }
                .texto_servicios{
                    margin: 5% auto;
                    font-size: 1.5vw;
                }
                h2{
                    font-size: 3.4vw;
                }
                p{
                    font-size: 1.4vw;
                }
            }
        }
    }
    footer{
        height: 13vh;
        .texto_foot{
            font-size: 1vw !important;
            p{
                margin-bottom: 0.6vh !important;
            }
            a{
                margin-bottom: 1.2vh !important;
            }
            i{
                margin-right: 0.8vw;
                font-size: 1.4vw !important;
            }
        }
    }
}

@media (max-aspect-ratio: 1){
    section{
        .portada_apollo{
            background-position-y: -2rem;
            background-image: url(../img/portada_apollo_horizontal.png);
            .texto_portada{
                top: 70%;
                margin: 0 10vw;
                h2{
                    font-size: 5vh;
                    margin-bottom: 5vh;
                    padding-right: 20vw;
                }
                p{
                    font-size: 3vw;
                    padding-right: 0;
                }
            }
        }
        .presentacion_apollo{
            height: 32vh;
        }
        .texto_presentacion_apollo{
            h2{
                font-size: 3.5vw;
            }
            p{
                font-size: 2vw;
            }
        }
        .text_prin_proy{
            .link_proy_apollo{
                h2{
                    margin-bottom: 4vh;
                }
                p{
                    font-size: 1.6vh;
                }
            }
        }
        .scc_proy_sec{
            .img_sec_proy{
                height: 38vh;
                .centrar_imagen{
                    img{
                        max-height: 38vh;
                    }
                }
            }
        }
        .clientes_apollo{
            height: 36vh;
            h2{
                font-size: 2.2vw;
            }
            .logos_clientes{
                img{
                    width: 65%;
                }
            }
        }
        .pagina_proyecto_apollo{
            .texto_pagina_proyecto{
                .sidenav{
                    a{
                        font-size: 1.65vw;
                        i{
                            font-size: 3vw;
                        }
                    }
                }
                .open_sidenav{
                    i{
                        font-size: 2.8vw;
                    }
                }
                .texto_servicios{
                    margin: 7.5% auto;
                    font-size: 1.7vw;
                }
                h2{
                    font-size: 3.6vw;
                }
                p{
                    font-size: 1.5vw;
                    font-weight: 400;
                }
            }
        }
    }
    footer{
        height: 13vh;
        .texto_foot{
            font-size: 1.2vw !important;
            p{
                margin-bottom: 0.2vh !important;
            }
            a{
                margin-bottom: 0.5vh !important;
            }
            i{
                font-size: 1.6vw !important;
            }
        }
    }
}

@media (min-aspect-ratio: 4/5){
    .prin_proy_landscape{
        display: flex;
    }
    .prin_proy_portrait{
        display: none !important;
    }
}

@media (max-aspect-ratio: 4/5){
    .prin_proy_landscape{
        display: none;
    }
    .prin_proy_portrait{
        display: flex !important;
    }
    section{
        .portada_apollo{
            background-position-y: 0;
            .texto_portada{
                top: 72%;
                h2{
                    font-size: 6vh;
                    margin-bottom: 4vh;
                    padding-right: 6vw;
                }
                p{
                    font-size: 2.5vh;
                    padding-right: 0;
                }
            }
        }
        .presentacion_apollo{
            border-top: 0.75rem solid #fff;
            height: 32vh;
            .img_pres_central{
                border-width: 0.35rem;
            }
        }
        .texto_presentacion_apollo{
            h2{
                font-size: 2.8vh;
                margin-bottom: 1.8vh;
            }
            p{
                font-size: 1.6vh;
            }
        }
        .img_prin_proy{
            width: 100%;
            border-top: 1rem solid #fff;
        }
        .text_prin_proy{
            width: 100%;
            border-bottom: 0.5rem solid #fff;
            .link_proy_apollo{
                padding: 5%;
                width: 100%;
                h2{
                    width: 100%;
                    font-size: 4.2vh;
                    margin: 0;
                    line-height: 120%;
                }
                p{
                    display: none;
                }
            }
        }
        .scc_proy_sec{
            padding: 0.3rem;
            background-color: #fff;
            .img_sec_proy{
                border: 0.3rem solid #fff;
                width: 50%;
                height: 33vh;
                .centrar_imagen{
                    img{
                        max-height: 33vh;
                    }
                }
            }
        }
        .clientes_apollo{
            height: 52vh;
            h2{
                font-size: 2.4vh;
            }
            .logos_clientes{
                width: 25%;
                img{
                    width: 70%;
                }
            }
        }
        .pagina_proyecto_apollo{
            .texto_pagina_proyecto{
                position: static;
                width: 100%;
                .sidenav{
                    height: 0;
                    width: 100%;
                    .boton_responsive_landscape{
                        display: none;
                    }
                    .boton_responsive_portrait{
                        display: inline-block;
                    }
                    .closebtn{
                        text-align: right;
                        padding: 2.4% 4.6%;
                    }
                    a{
                        font-size: 2vh;
                        padding: 1% 5%;
                        i{
                            padding: 0;
                            font-size: 4vh;
                        }
                    }
                }
                .open_sidenav{
                    text-align: right;
                    margin: 0;
                    position: fixed;
                    display: inline-block;
                    background-color: #000;
                    width: 100%;
                    z-index: -1;
                    i{
                        z-index: 2;
                        font-size: 2.8vh;
                        margin: 3% 5%;
                    }
                }
                .boton_responsive_landscape{
                    display: none;
                }
                .boton_responsive_portrait{
                    display: inline-block;
                }
                h2{
                    margin: 12.5% auto 3%;
                    font-size: 4vh;
                }
                .texto_servicios{
                    margin: 2% auto;
                    font-size: 1.8vh;
                }
                p{
                    font-size: 1.3vh;
                    margin-bottom: 10%;
                }
            }
            .imgs_pagina_proyecto{
                margin: 0;
                padding: 2.5% 0;
                width: 100%;
                text-align: center;
                img{
                    width: 95%;
                    margin: 2.5% 0;
                }
            }
        }
    }
    footer{
        height: 20vh;
        background-size: 30% !important;
        background-position: right bottom;
        .foot_apollo{
            padding: 4% 10%;
            .img_logo_foot{
                width: 18%;
            }
            .texto_foot{
                font-size: 1.2vh !important;
                p{
                    margin-bottom: 0.1vh !important;
                }
                a{
                    margin-bottom: 0.5vh !important;
                }
                i{
                    font-size: 1.8vh !important;
                }
            }
        }
    }
}

@media (max-aspect-ratio: 5/7){
    section{
        .portada_apollo{
            .texto_portada{
                top: 66%;
                h2{
                    font-size: 6vh;
                    margin-bottom: 3.5vh;
                    padding-right: 9vw;
                }
                p{
                    font-size: 2.5vh;
                    padding-right: 0;
                }
            }
        }
        .presentacion_apollo{
            height: 26vh;
        }
        .texto_presentacion_apollo{
            h2{
                font-size: 2.3vh;
                margin-bottom: 1.2vh;
            }
            p{
                font-size: 1.4vh;
            }
        }
        .text_prin_proy{
            .link_proy_apollo{
                h2{
                    font-size: 3.4vh;
                }
            }
        }
        .scc_proy_sec{
            .img_sec_proy{
                h3{
                    font-size: 2.65vh;
                }
            }
        }
        .clientes_apollo{
            padding: 3% 0;
            h2{
                font-size: 2.4vh;
            }
        }
        
    }
    footer{
        height: 26vh;
        background-size: 40% !important;
        .foot_apollo{
            padding: 4% 5%;
            .img_logo_foot{
                width: 20%;
            }
            .texto_foot{
                font-size: 1.3vh !important;
                i{
                    font-size: 2vh !important;
                }
            }
        }
    }
}

@media (max-aspect-ratio: 4/7){
    section{
        .portada_apollo{
            .texto_portada{
                top: 63%;
                h2{
                    font-size: 10.5vw;
                    margin-bottom: 6vh;
                    padding-right: 0;
                }
                p{
                    font-size: 5vw;
                }
            }
        }
        .presentacion_apollo{
            border-width: 0.5rem;
        }
        .texto_presentacion_apollo{
            h2{
                font-size: 4.8vw;
                margin-bottom: 1vh;
            }
            p{
                font-size: 2.4vw;
                margin: 0;
            }
        }
        .img_prin_proy{
            width: 100%;
            border-width: 0.5rem;
        }
        .text_prin_proy{
            .link_proy_apollo{
                padding: 2% 4%;
                h2{
                    font-size: 2.6vh;
                }
            }
        }
        .scc_proy_sec{
            .img_sec_proy{
                height: 20vh;
                .centrar_imagen{
                    img{
                        max-height: 20vh;
                    }
                }
                h3{
                    font-size: 4vw;
                }
            }
        }
        .clientes_apollo{
            padding: 7% 0;
            h2{
                font-size: 5vw;
            }
        }
        .pagina_proyecto_apollo{
            .texto_pagina_proyecto{
                h2{
                    margin: 12% auto 3%;
                    font-size: 3.5vh;
                }
            }
            .imgs_pagina_proyecto{
                padding: 0;
                img{
                    width: 100%;
                    margin: 3% 0;
                }
            }
        }
    }
    footer{
        background-size: 60% !important;
        .foot_apollo{
            padding: 5%;
            .img_logo_foot{
                width: 20%;
            }
            .texto_foot{
                font-size: 2.2vw !important;
                i{
                    font-size: 4vw !important;
                }
            }
        }
    }
}